option:hover {
  color: black;
}
select {
  color: white;
  width: 100%;
  height: 33px;
  font-size: 15px;
  font-weight: 600;
  border-color: #bfa0dc;
  background-color: blueviolet;
}
.statusTable thead {
  font-size: 15px;
}
.statusTable tbody tr {
  font-size: 15px;
  padding: 10px 0px;
  height: 45px;
}
.glyphicon-trash {
  color: red;
  /* margin: 0px 0px 0px 0px; */
}
.glyphicon-edit {
  color: green;
  margin: 0px 0px 0px 10px;
}
.expendature-detail-card-main {
  /* margin: 5px 0px; */
  padding: 0px 0px;
}
.expendature-detail {
  padding-right: 3px;
  padding-left: 3px;
}
.subcard {
  width: 95%;
  box-shadow: 0px 0px 5px -1px;
  border-radius: 5px;
  height: 90px;
  margin: auto;
  margin-top: 10px;
}
.expendature-select {
  margin: 10px 0px;
}
.subcard .expendature-name {
  text-align: center;
  /* height: 60%; */
  margin: 0px 0px 0px 0px;
  font-weight: 300;
}
.expendature-delete-icon {
  text-align: center;
  font-size: 20px;
  width: 50%;
  float: left;
}
.expendature-view-icon {
  text-align: center;
  font-size: 20px;
  width: 50%;
  float: right;
  color: green;
}
.expnsive-icon {
  height: 40px;
  width: 100%;
}
.expnsive-icon img {
  height: 100%;
  width: 40%;
  margin: 0% 30%;
}
/* 
.expendature-detail-card-main{
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 5px -1px;
    border-radius: 5px;
    margin: 5px 0px;
}
.expendature-detail-card-main h4{
    text-align: center;
    margin: 0px;
}
.extendature-card-detail{
    width: 90%;
    float: left;
}
.extendature-card-detail p{
    margin:  0px 0px 0px 10px
}
.extendature-delete-icon{
    width: 10%;
    float: right;
} */
