/* .MuiDialog-paper{
    margin: 10px !important
} */
.login-icon{
    height: 34px;
    width: 15%;
    margin: auto;
}
.login-icon img{
    margin: 0px;
    height: 100%;
}
.MuiFormLabel-root{
    font-size: 17px !important;
    margin: -9px 0px 0px 0px;
}
