.login{
    display: flex;
    width: 100%;
    height: 50%;
}
.registration{
    display: flex;
    height: 30%;
    width: 100%;
}
.homecontainer{
    margin: 0px;
    height: 520px;
    width: 100%;
}